{% extends "base.html" %}

{% block stylesheet %}

<link
    rel="stylesheet"
    href="/static/css/template1.css"
>

{% endblock %}

{% block title %}
{{ resume.first_name }} {{ resume.last_name }} - Resume
{% endblock %}

{% block content %}

<div class="template1-resume">

    <!-- Header -->

    {% include "template1/components/header.html" %}


    <!-- Resume Content -->

    <main class="template1-content">

        <!-- Summary -->

        {% include "template1/components/summary.html" %}


        <!-- Skills -->

        {% include "template1/components/skills.html" %}


        <!-- Experience -->

        {% include "template1/components/experience.html" %}


        <!-- Education -->

        {% include "template1/components/education.html" %}


        <!-- Additional Information -->

        {% include "template1/components/additional.html" %}

    </main>

</div>

{% endblock %}